$trigger1: '(max-width:991px)';
$trigger2: '(max-width:767px)';

.footerNav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footerList {
    display: flex;
    li {
      font-size: 0.7rem;
      font-weight: 700;
      padding: 0 10px;
      cursor: pointer;
      color: #aaaaaa;
    }
    @media #{$trigger1} {
      display: none;
    } 
  }

  .officeInfo {
    display: flex;
    li {
      font-size: 0.7rem;
      font-weight: 700;
      padding: 0 10px;
      cursor: pointer;
      color: #aaaaaa;
    }
    @media #{$trigger1} {
      display: none;
    } 
  }
}

